<div class="popup block divcenter" style="background-color: #FFF; max-width: 750px;">
  <h4 class="popup-title text-center">Preview</h4>
  <div class="popup-content nobottomborder">
    <div class="preview">
      <%= preview_reply(@reply) %>
    </div>
  </div>
</div>