$('#new_reply').attr('id', '<%= dom_id(@reply) %>').replaceWith('<%= j render 'reply', reply: @reply %>');

$('.floating-notification').append('<div class="style-msg successmsg">\n' +
    '        <div class="sb-msg">Successfully Created New Email Reply.</div><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>\n' +
    '      </div>');