<p id="notice"><%= notice %></p>

<section id="page-title">

  <div class="container clearfix">
    <h1>Replies</h1>
    <p>Manage your email replies here</p>
  </div>

</section><!-- #page-title end -->

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      <table>
        <thead>
        <tr>
          <th>Keywords</th>
          <th>Body</th>
          <th>Negative keywords</th>
          <th>Catchcall</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody class="replies">
        <% @replies.each do |reply| %>
          <%= render reply %>
        <% end %>
        </tbody>
      </table>

      <div id="new_record">
        <%= link_to 'New Email Reply', new_reply_path, remote: true %>
        <div class="record-form">
        </div>
      </div>

    </div>
  </div>
</section>



<br>

<%= link_to 'New Reply', new_reply_path %>
