<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 add-reply">
    <%= link_to raw('<i class="icon-plus-sign"></i><span>Add New Automated Reply</span>'), new_emailaccount_reply_path(@emailaccount), class: "button button-rounded button-reveal button-small button-dirtygreen", id: "addnew_reply", remote: true %>
  </div>
  <div class="col-md-1"></div>
</div>

<% if notice %>
  <div class="row" data-auto-dismiss="1000" onload="javascript: auto_dismiss(this)">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="style-msg successmsg">
        <div class="sb-msg"><%=notice%></div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
<% end %>

<div id="replies_container">
<% @replies.each do |reply| %>
  <%= render reply %>
<% end %>
</div>
