.text-center.pb-4
  .row
    .col-4.p-1
      .border.rounded.pb-4.pt-2
        %h4.p-2.nomargin
          %a{href: '/guides/customer-service-emails'} Customer Service Emails
        A guide to writing better customer service emails.
    .col-4.p-1
      .border.rounded.pb-4.pt-2
        %h4.p-2.nomargin
          %a{href: '/guides/email-automation'} Email Automation
        Properly automating your replies to incoming emails from customers.
    .col-4.p-1
      .border.rounded.pb-4.pt-2
        %h4.p-2.nomargin
          %a{href: '/guides/tips-for-good-emails'} Writing Good Emails
        Tips and tricks for writing nothing but high quality emails.