.container.p-3.largertext
  %h1 How to write an excellent customer service email.

  %p Good customer service by email makes the difference between a brand that customers flock back to and a brand that customers forget. You may have a great product or service, but if your emails are helpful, brief, or provide poor service, you may be killing your business. Good customer service is paramount to building a good relationship with your customers.

  %h2 Automation.

  %p First, never send a customer a fully automated email and leave it at that. A fully automated reply should always include the information that a representative will actually be responding soon.

  %p
    Automating emails requires skill, so read
    %a{href: '/guides/email-automation'} our guide
    on it. If you send an automated email that a human never checked over, what does your customer feel when the response is wrong? Frustrated? Dissatisfied? Regardless, they're not going to want to do more business with your company.

  %p Any machine-reply should be read over by a human before sending, to make sure it actually answers their question.

  %p However it's fine to send an email saying "We got your email and will respond soon. In the meantime perhaps your question is answered in our FAQ found at <URLHERE>."

  %h2 Be authentic.

  %p Your emails should reflect your brand and your values. Talk about the things your company sells in an excited way. You can always include promotions in your emails. Make customers excited to do business with you.

  %h2 Be clear and concise.

  %p Don't waffle around answering the actual question the customer had. The answer to their question should be no further in than the second paragraph of your email - or ideally the first thing they read. They want to know you really read their email and are replying as a human.

  %p Don't avoid providing information simply because it is unpleasant, as this will just make the customer experience worse.

  %h2 Know what you're talking about.

  %p Try not to give your customers the runaround in actual details. if your customer wants to know something specific, share that information with them. If you don't know the answer, clearly tell them that you are going to find out. Don't just provide a guess unless you have an idea based on experience.

  %p Many companies make it onerous to get pricing details for example, because they want to keep this information as secret as possible until a customer has decided to sign a contract. but when you look at the most successful companies, their pricing is always very transparent.

  %h2 Be friendly.

  %p Most people don't actually like sending and receiving emails. I personally think they are a little crazy, because emails are a great record to refer back to. After a phone call, if you have forgotten something, you can't simply go back and look at the transcript. But you can with an email. But since most people don't like emails, try to make your emails as friendly and polite as possible. You will be making a potentially unpleasant interaction into a fun and enjoyable one by being friendly in your messages.

  %h2 Be selling. (ABC: Always Be Celling)

  %p Your emails can always refer a customer to another product or service you offer that might fit them. You should be seeking to understand your customers' needs and showing it in your emails. You can always add taglines to your latest discounts, new product updates, and new features in your emails. The ABC's of selling are to always be selling.

  %h2 Be flexible.

  %p If your company has rigid policies, it may be difficult to answer an email positively. But if you can find some other way to solve the client's problem, I would try to do so in your first email, or let them know that you will be passing their information to a superior. Nobody wants an email that just tells them flat out no.

  Show emotions.

  %p You can use smiley faces, and emojis in emails. They're no longer considered unprofessional. In fact, often emailing is terse and intense, and adding smileys can make the interaction seem much more pleasant to both parties. A short email that ends in a :-) can sound much different than an email ending in a period.

  %p "I hope you get that done today."

  %p vs

  %p "I hope you get that done today :)"

  %p Each of these conveys an entirely different tone, yet still getting the point across.

  %h2 Solve problems.

  %p Most customer loss is due to failing to solve the customer's problem or due to bad customer service. That's why your role as customer service is essential, you are the rock keeping customers tied down. be on the lookout for creative ways to solve their problem when you're answering their email.

  %h2 Your thoughts.

  %p
    If you have some thoughts on providing good customer service, we would love to hear from you. You should also take a look at our
    %a{href: '/'} email automation software
    for people who answer emails all day long.