.container.p-3.largertext
  %h1 Automating your email replies with OwlReply!

  %h2 Email automation 101.

  %p Okay, so you've thought about how you can save time answering a bunch of emails every day, and you've concluded that you want to automate your responses. Great! But of course, you have a real business to run and real people are seeing you replies, so they have to be really good. Can you just slap together an instant autoresponder and hope it's good enough?

  %p No, a one-size-fits-all auto response doesn't work? Okay, how about a system that just sends them a link to your knowledge base? Will that work? Maybe it will drive customers away who just want to talk to a real person.

  %p Okay, so we've reached the problem. How to automate emails that actually answer people's questions.

  %h2 Idea 1: Make a template document.

  %p One of the first ways to start automating replies is to simply make a document of common answers to common questions. This can be a simple Google Drive document with a paragraph answer for each question. You can then simply copy and paste them into an email every time you get that question.

  .text-center
    %img{src: '/images/others/owl-answer-1.png', class: 'img-responsive', alt: 'An example email.'}

  %p Of course, this is a little tedious and time consuming, but it saves time over writing the email every time.

  %p What's an alternative?

  %h2 Idea 2: Make some canned replies.

  %p If you're in Gmail, you can create a "Canned Response" that you can simply click on to reply to an email with. It's simple and easy.

  %p However the interface is pretty old and clunky, and figuring out how to write or edit your canned responses is sometimes a pain.

  .text-center
    %img{src: '/images/others/owl-canned.png', class: 'img-responsive'}

  %h2 Idea 3: Use an automation service.

  %p This is where OwlReply comes in! We read all your emails for you, and create a "draft" email reply in your outbox. We don't send it for you - you can edit it before it's sent.

  %p This is an ideal way to save time because you don't have to navigate back and forth between multiple tabs and documents. The automatic responses are instantly put in your inbox, and you don't have to open up another tab.

  %p
    You can
    %a{href: '/signup'} get started for free
    with OwlReply today.

  %h2 Your thoughts.

  %p
    If you have any thoughts on easy ways to make life easier for people who spend all day answering emails, we would love to hear from you. Also check out some of our
    %a{href: '/features'} email automation features
    or our
    %a{href: '/guides/customer-service-emails'} customer service tips
    for people who answer emails.


  = render partial: 'pages/guides/footer'