.container.p-3.largertext
  %h1 How to write a good email.

  %h2 Focus on the content.

  %p The actual message of your email is most important. What point are you getting across? What key information are you trying to share? You can dress up a message all you want, but if your main point is unclear, then you have simply wasted your time and your readers' time.

  %h2 Check your greeting.

  %p Make sure to address people the way they want to be addressed. If someone signs their email as "Chris", you should reply "Dear Chris". If they sign with "Dr. Nelson", you should reply "Dear Dr. Nelson,"

  %p Try to avoid generic greetings, especially ones that don't sound like a real person. You may write "Good afternoon!" as a greeting, but a native English speaker is unlikely to write "Dear kind sirs/madams:"

  .text-center
    %img{src: '/images/others/owl-kindly.png', class: 'img-responsive'}

  %h2 Check your signature.

  %p You shouldn't be telling someone "Happy Holidays" in your signature when it's already January. Make sure your email footer is up to date.
