<h1>How are you liking OwlReply?</h1>
<b>Dear <%= @user.email_address %>,</b>
<p>
  How are you liking OwlReply so far? Has it saved you any time in answering your emails?
</p>
<p>
  I'd love to hear your thoughts. Email me anytime at ceo@owlreply.com
</p>
<p>
  Thanks for joining and have a great day!
</p>
<p>
  Ryan<br>
  Founder
</p>