<h1>OwlReply - Demonstration</h1>
<b><%= @user.email_address %> --</b>

<p><b>This is a test email demonstrating functionality!</b> <i>(Note: This email must be <u>unread</u> for us to auto-reply to it.)</i></p>
<br>
<p style="background:yellow;padding:10px;">This email is an example email from a customer to a catering company. If this email is unread while OwlReply runs, an automated draft will appear below this email with your company's automatic response.</p>
<br>
<br>
Dear Company -- <br>
<p>
  Hello I am a customer I want to know if you can help with my wedding catering?
</p>
<p>
  We expect to have a lot of people coming. The wedding is in June!
</p>
<p>
  Please email me back as soon as possible.
</p>
<p>
  - Jason Testman<br>
  - testman100@fakedomain.com<br>
</p>