<h1>OwlReply: How To</h1>
<b><%= @user.email_address %> --</b>
<p>
  You use OwlReply to automatically reply to your emails.
</p>
<p>
  First, identify keywords that you receive frequently by email. These can be related to your organization, policies, or events.
</p>
<p>
  <b>Example: Mechanics</b><br>
  <i>Keywords: Glass Repair, Chipped Glass, glass, windows</i><br>
  <b>Reply: </b> Of course ACME Mechanics Inc. can help you with all your glass and window repair needs. We handle glass repair for all types of vehicles, and can even special order glass for rare models. To get started on your repair job, please call us at 222-333-3333 to schedule an appointment.
</p>
<p>
  <b>Example: Plumbers</b><br>
  <i>Keywords: remodel, bathroom, remodeling</i><br>
  <b>Reply: </b> Jason's Plumbing Corp. is a premiere bathroom remodeling company in addition to our regular plumbing work. We would love to help you out with your job. Our trained experts do over thirty bathroom remodels every year. In order to process a quote, it is helpful to have the following: Exact bathroom dimensions, type of bathtub desired, do you prefer tile or laminate flooring? Email us back with this information and anything else and we'll make a quote for you!
</p>
<p>
  <b>Example: Restaurants</b><br>
  <i>Keywords: MLK, martin luther king, Presidents day, President's Day</i><br>
  <b>Reply: </b> Papa Spaghetti is open on all holidays - Martin Luther King Day, President's Day, New Year's Eve, July 4th, and Columbus Day - except for Christmas Day. We hope to see you soon!
</p>

<p></p>
