<h1>Getting the most out of OwlReply</h1>
<b><%= @user.email_address %> --</b>
<p>
  OwlReply is an entirely cloud-based tool to help you automatically reply to your emails.
</p>
<ul>
  <li>Creates <b>draft</b> email replies.</li>
  <li>Replies are based on keywords you setup.</li>
  <li>You can modify and improve the replies before sending.</li>
</ul>
<p>
  In our studies, OwlReply saves up to a full hour of work every single day!
</p>
<h3>Read our guides.</h3>
<p>
  <a href="<%= @url %>/guides/email-automation">Guide to email automation.</a><br>
  How to automate your emails the smart way.
</p>
<p>
  <a href="<%= @url %>/guides/customer-service-emails">Customer Service Tips.</a><br>
  Tips for emailing with good customer service.
</p>
<p>
  <a href="<%= @url %>/guides/tips-for-good-emails">Guide to good emails.</a><br>
  Tips for writing emails that really make your business shine.
</p>
<p>
  Thanks for being part of the OwlReply community!
</p>