<h1>Welcome to OwlReply</h1>
<b><%= @user.email_address %> --</b>
<p>
  You have successfully signed up for OwlReply's world-class email automation. OwlReply will let you save hours answering emails by helping to automate your replies.
</p>
<p>Customers will thank you too.</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>
  Thanks for joining and have a great day!
</p>
<p></p>