<section id="page-title" class="invoice nobg">

  <div class="container clearfix">
    <h1>Invoice <%=@invoice.date.strftime("%m/%d/%Y") %></h1>
    <div class="breadcrumb">
      <%= link_to 'Back to Invoices', invoices_path %>
    </div>
  </div>

</section>

<section id="content" class="invoice">
  <div class="content-wrap nopadding">
    <div class="section nomargin">
      <div class="container clearfix">
        <div class="row" id="<%= dom_id(@invoice) %>">
          <div class="col-md-1"></div>
          <div class="col-md-10 bottommargin-sm">
            <div class="white-section custom-white-box nopadding">
              <div class="card">
                <div class="card-body">
                  <div id="invoice_file">
                    <div class="row">
                      <div class="col-md-4">
                        <h2><img src="/images/logo/logo.png" alt="OwlReply"></h2>
                        <p>[Business Address]</p>
                      </div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <h1>Invoice</h1>
                      </div>
                    </div>
                    <div class="row">

                    </div>
                  </div>
                </div>
                <div class="card-footer norightpadding">
<!--                  On click popup will show to confirm and show the last 4 digits on the popup-->
                  <% unless @invoice.paid? %>
                    <% if current_user.no_paymentmethods? %>
                      <%# New paymentmethod %>
                    <% else %>
                      <%= link_to "Pay Now", invoice_path(@invoice), data: {method: :put}, remote: true, class: 'pay_btn button button-3d button-large button-rounded button-green' %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--        <div class="invoice invoice_<%#= @invoice.paid? ? "paid" : "unpaid" %>"><%#= link_to @invoice.date.strftime("%m/%d/%Y"), @invoice %> - <%#= @invoice.amount %> - <%#= @invoice.paid? ? "Paid" : "Unpaid" %></div>-->


      </div>
    </div>
  </div>
</section>

<% content_for :javascript_includes do %>
  <style type="text/css">
    @media print {
      body * {
        visibility: hidden;
      }
      #invoice_file, #invoice_file * {
        visibility: visible;
      }
      #invoice_file {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  </style>
<% end %>