/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*EMAIL ACCOUNTS
---------------------------------*/
section#content.dashboard .content-wrap,
section#content.emailaccounts .content-wrap{
    padding-top: 30px;
}

section#content.dashboard div.account,
section#content.emailaccounts div.account{
    margin-top: 30px;
}

section#content.dashboard div.account h2 > a,
section#content.emailaccounts div.account h2 > a{
    color: #444444;
}

div.account h2 span.number-keywords{
    font-size: 13px;
    font-weight: normal;
    color: #888888;
    vertical-align: middle;
    margin-left: 5px;
}

section#content.dashboard div.account h2 > a:hover,
section#content.emailaccounts div.account h2 > a:hover{
    color: #1ABC9C;
}

section#content.dashboard .feature-box,
section#content.emailaccounts .feature-box{
    padding: 0;
    margin-top: 0;
}

section#content.dashboard .feature-box .fbox-icon,
section#content.emailaccounts .feature-box .fbox-icon{
    position: relative;
    float: right;
}

section#content.dashboard div.account .card .card-body,
section#content.emailaccounts div.account .card .card-body{
    min-height: 136px;
    position: relative;
}

section#content.dashboard div.account .card .card-title,
section#content.emailaccounts div.account .card .card-title{
    margin-bottom: 0;
}

div.custom_cards .card span.numval{
    font-size: 36px;
}

div.custom_cards .card > a{
    color: #444444;
}

section#content.emailaccounts .form-wrapper{
    border: 3px solid #eee;
    padding: 20px;
    margin: 20px 5px 0 5px;
}

section#content.emailaccount_edit .card{
    border: none;
}

section#content.emailaccounts textarea[name="emailaccount[template]"],
section#content.emailaccount_edit textarea[name="emailaccount[template]"]{
    min-height: 250px;
}



/*REPLIES
---------------------------------*/
#page-title.replies h1 a.edit{
    vertical-align: middle;
    font-size: 14px;
    text-transform: initial;
    font-weight: normal;
    margin-left: 10px;
    color: #444444;
}


#page-title.replies h1 a.edit:hover{
    color: #1ABC9C;
}

#page-title.replies .breadcrumb,
#page-title.invoice .breadcrumb{
    font-size: 16px;
}

#page-title.replies span.last-check{
    display: inline-block;
    font-size: 0.9rem;
    vertical-align: middle;
    max-width: 600px;
    margin-top: 0;
}

#page-title.replies a.check_btn{
    color: #FFFFFF;
}

#page-title.replies a.check_btn.disabled{
    cursor: not-allowed;
    opacity: .65;
}

#page-title.replies a.check_btn i{
    width: 13px;
    height: 13px;
}


#page-title.replies a.check_btn.disabled:hover{
    background: #EB9C4D;
}

section#content.replies .add-reply{
    margin: 0 0 5px;
}

section#content.replies .add-reply .button{
    margin: 0;
}

section#content.replies .card{
    border: none;
}

section#content.replies .card.active{
    border: 2px solid #dfdfdf;
}

section#content.replies .card .card-header{
    min-height: 50px;
    background: #fdfdfd;
    text-align: right;
}

section#content.replies .card .card-header .button{
    padding: 0 30px;
}

section#content.replies .form-control.readonly{
    border-color: #f9f9f9;
    background: #fcfcfc;
}

section#content.replies textarea.form-control{
    min-height: 250px;
}

section#content.replies .card .card-footer{
    padding-bottom: 0;
    background: #fff;
    padding-left: 0;
}

section#content.replies .authentication{
    padding-top: 10px;
}

section#content.replies .authentication .style-msg{
    background: #555;
    margin-bottom: 0;
}

.reply_form label{
    color: #bbb;
}

/*EFFECTS: Shake
==================================*/
@-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(30px); }
    20% { -webkit-transform: translate(-30px); }
    40% { -webkit-transform: translate(15px); }
    60% { -webkit-transform: translate(-15px); }
    80% { -webkit-transform: translate(8px); }
    100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
    0% { -moz-transform: translate(30px); }
    20% { -moz-transform: translate(-30px); }
    40% { -moz-transform: translate(15px); }
    60% { -moz-transform: translate(-15px); }
    80% { -moz-transform: translate(8px); }
    100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
    0% { -o-transform: translate(30px); }
    20% { -o-transform: translate(-30px); }
    40% { -o-transform: translate(15px); }
    60% { -o-transform: translate(-15px); }
    80% { -o-transform: translate(8px); }
    100% { -o-origin-transform: translate(0px); }
}
@keyframes temporary {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.custom_shake {
    -webkit-animation: kf_shake 0.4s 1 linear;
    -moz-animation: kf_shake 0.4s 1 linear;
    -o-animation: kf_shake 0.4s 1 linear;
}


/*Global Notification
===================================*/

.floating-notification{
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0px;
    margin: 0;
}
.floating-notification .style-msg{
    border-radius: 3px;
    padding-right: 20px;
    margin: 10px;
    animation: temporary 10s 1 ease-in forwards;
}
.floating-notification .style-msg .sb-msg{
    border: 0;
    padding: 15px 25px;
}

.style-msg .close{
    top: 13px;
}

/*Input Tags
===================================*/
.form-group.readonly .bootstrap-tagsinput{
    border-color: #f9f9f9;
    background: #fcfcfc;
}
.form-group.readonly .bootstrap-tagsinput .badge{
    padding: 0 10px;
    border-radius: 3px;
    background: #eaeaea;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    color: #666;
    letter-spacing: normal;
}
.form-group.readonly .bootstrap-tagsinput .badge [data-role="remove"]{
    display: none;
}
.form-group.readonly .bootstrap-tagsinput input[type="text"]{
    display: none;
}

/*Keyword Suggestions
===================================*/
.keyword_suggestions a.keyword:not([href]):not([tabindex]):hover,
.keyword_suggestions a.keyword:hover{
    color: #FFFFFF;
}

/*Magnific Popup Form
=====================================*/
.mfp-content .popup{
    position: relative !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px 30px;
}


/*Payment Method List
=====================================*/
div.list-paymentmethod .list-group-item{
    border: 1px solid #eee;
}

.list-paymentmethod .cc-type{
    color: #999;
    font-size: 16px;
}

.list-paymentmethod .cc-type .icon{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 34px;
    color: #333;
}

.list-paymentmethod .expiration{
    font-style: italic;
    color: #999;
}

.list-paymentmethod .list-group-item-action:hover,
.list-paymentmethod .list-group-item-action:active,
.list-paymentmethod .list-group-item-action:focus{
    background: inherit;
}

/*Invoice
====================================*/
#invoice_file .invoice_header h1.title{
    text-align: right;
}

#invoice_file .invoice_header p{
    margin-bottom: 0;
}

#invoice_file .invoice_info{
    border-top: 4px #ccc double;
    padding-top: 30px;
    margin-top: 30px;
}

#invoice_file .invoice_body{
    min-height: 175px;
}

#invoice_file .invoice_footer{
    padding: 1rem 1.25rem 0;
}

/* Admin Pages
==============================*/
.admin #repliesTable td{
    word-break: break-word;
}


/* Helpers
==============================*/
#content .post ul{
    margin-left: 20px;
}

/* Google Button
===============================*/
button.button-connect,
.button.button-connect,
.button-connect{
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.googled,
.button.googled,
button.googled{
    background-image: url('/images/google/google_signin_btn.png');
    background-repeat:  no-repeat;
    background-color: #FFFFFF;
    background-position: 0 0;
    text-indent: 999px;
    width: 191px;
    padding: 0;
    overflow: hidden;
}

.googled:focus,
.button.googled:focus,
button.googled:focus{
    /*background-image: url('/images/google/google_signin_btn_pressed.png');*/
    background-image: url('/images/google/google_signin_btn.png');
    background-position: -191px;
}

.googled:hover,
.button.googled:hover,
button.googled:hover{
    /*background-image: url('/images/google/google_signin_btn_focus.png');*/
    background-image: url('/images/google/google_signin_btn.png');
    background-position: -382px;
}

/* Process Steps
******************************/
ul.process-steps li{
    width: 33.333333333%;
}

ul.messages-preview,
ul.messages-preview li{
    list-style: none;
}

ul.messages-preview h6,
ul.messages-preview h4{
    margin-bottom: 5px;
}

div.activation-process a.skip{
    color: #666;
}
div.activation-process a.skip:hover{
    text-decoration: underline !important;
    color: #fff;
}
div.activation-process div.feature-box.fbox-center .fbox-icon{
    width: 150px;
}
div.activation-process div.feature-box.fbox-center.fbox-plain .fbox-icon i{
    font-size: 150px;
}

div#checked-notification {
    max-height: 250px;
    overflow-y: auto;
    min-height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

div.custom_cards .card span.numval.admin_last_checked{
    font-size: 20px;
}
/* HOME TIME */
.time_section { background-color:#9A9A9A; text-align: center; paddingx: 0 0 20px; }
/* HOMEPAGE SECTION SAMPLE EMAIL */
.sample_section { background-color:#eaeaea; text-align: center; paddingx: 0 0 20px; }
.sample_mail, .sample_arrow, .sample_reply { display: inline-block; width: 100%; max-width: 400px; vertical-align: top; text-align: left; }
.sample_arrow { max-width: 100px;border: solid #ff8787; border-width: 0 3px 3px 0; display: inline-block; padding: 10px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); max-width: 20px; margin: 50px 20px; }
.sample_mail, .sample_reply { border: 1px solid #CCC; border-radius: 10px 10px 0 0; border-top: 0; box-shadow: 3px 7px 4px #666; }
.sample_mail div, .sample_reply div { background: #FFF; padding: 10px; }
.sample_mail div:nth-of-type(2), .sample_reply div:nth-of-type(2) { padding: 20px; }
.sample_mail div:first-of-type, .sample_reply div:first-of-type { background: #1bbc9c; border-radius: 10px 10px 0 0; letter-spacing: 5px; text-align: center;font-size: 1.2em; color: black; }
.sample_mail span, .sample_reply span { background-color: #00ff33; }
@media (max-width: 1000px) {
    .sample_mail, .sample_arrow, .sample_reply { display: block;margin: 20px auto; }
    .sample_arrow { transform: rotate(45deg); -webkit-transform: rotate(45deg);}
    .sample_mail { margin-bottom: 20px; }
}
.price_section { text-align: center; }
.price_section .bigger { font-size: 3em;}
.price_section .goodbutton { background: #FF7800; border-radius: 10px; color: #FFF !important;display: inline-block; font-size: 1.2em; text-transform: uppercase; font-weight: 800;padding: 10px 20px;margin: 10px 0 0; }
.largertext {
    font-size: 150%;
}

div.reply-box{
    padding: 0 !important;
    max-width: 100% !important;
}


/* Loading Spinner
======================== */
.loading-spinner {
    margin: 20px auto;
    width: 70px;
    text-align: center;
}

.loading-spinner > div {
    width: 18px;
    height: 18px;
    background-color: #666;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

/*Reply Box
===========================*/

@media (min-width: 1000px) {
    .reply_creation_area.modal {
        position: fixed;
        top: 110px;
        z-index: 9;
        background: #FFF;
        border: 2px solid #CCC;
        padding: 40px;
        left: 40px;
        width: calc(100% - 80px);
        max-height: calc(100% - 150px);
        overflow-y: auto;
    }
}

.email_body { color: #CCC; }
.potential_keyword {
    color: #000;
    padding: 0 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: baseline;
    display: inline-block;
    line-height: 1.2;
}
.potential_keyword:hover { background: #9ddeff; cursor: pointer; color: #333; }

textarea.reply_body{
    min-height: 220px;
}

.preview{
    color: #bbb;
}

.preview .reply_body{
    color: #555;
}

.email_content a.rm-link,
.email_content a.read-more__link{
    background: #efefef;
    color: #bbb;
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 11px;
}


.email_content a.rm-link:hover,
.email_content a.read-more__link:hover{
    background: #dcdcdc;
}

.ignoredwords .ignoreword,
.pot_keywords .potential_keyword.badge {
    margin-right: 3px;
    color: inherit;
    background-color: #EEE;
    border-radius: 0;
    padding: 0 0 0 10px;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    text-shadow: none !important;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    margin-bottom: 3px;
}

.pot_keywords .potential_keyword.badge{
    font-size: 10px;
    height: 22px;
    line-height: 22px;
}

.pot_keywords .potential_keyword.badge a:hover,
.pot_keywords .potential_keyword.badge a:focus,
.pot_keywords .potential_keyword.badge a.ignore:hover,
.pot_keywords .potential_keyword.badge a.ignore:hover{
    color: #111;
}

.ignoredwords .ignoreword a.remove,
.pot_keywords .potential_keyword.badge a.ignore{
    margin-left: 5px;
    border-left: 1px solid #dedddd;
    color: #aaa;
    padding: 5px;
    cursor: pointer;
}

.pot_keywords .potential_keyword.badge a.ignore{
    font-size: 10px;
}

.ignoredwords .ignoreword a.remove:after,
.pot_keywords .potential_keyword.badge a.ignore:after{
    content: "x";
    padding: 0px 2px;
}

.pot_keywords .potential_keyword a{
    color: #666;
}

.inbox-content .message{
    overflow: hidden;
}