/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*EMAIL ACCOUNTS
---------------------------------*/
section#content.emailaccounts .content-wrap{
    padding-top: 30px;
}

section#content.emailaccounts div.account{
    margin-top: 30px;
}

section#content.emailaccounts div.account h2 > a{
    color: #444444;
}

section#content.emailaccounts div.account h2 > a:hover{
    color: #1ABC9C;
}

section#content.emailaccounts .feature-box{
    padding: 0;
    margin-top: 0;
}

section#content.emailaccounts .feature-box .fbox-icon{
    position: relative;
    float: right;
}

section#content.emailaccounts div.account .card .card-body{
    min-height: 136px;
    position: relative;
}

section#content.emailaccounts div.account .card .card-title{
    margin-bottom: 0;
}

div.custom_cards .card span.numval{
    font-size: 36px;
}

div.custom_cards .card > a{
    color: #444444;
}

section#content.emailaccounts .form-wrapper{
    border: 3px solid #eee;
    padding: 20px;
    margin: 20px 5px 0 5px;
}

section#content.emailaccount_edit .card{
    border: none;
}

section#content.emailaccounts textarea[name="emailaccount[template]"],
section#content.emailaccount_edit textarea[name="emailaccount[template]"]{
    min-height: 250px;
}

/*REPLIES
---------------------------------*/
#page-title.replies h1 a.edit{
    vertical-align: middle;
    font-size: 14px;
    text-transform: initial;
    font-weight: normal;
    margin-left: 10px;
    color: #444444;
}


#page-title.replies h1 a.edit:hover{
    color: #1ABC9C;
}

#page-title.replies .breadcrumb,
#page-title.invoice .breadcrumb{
    font-size: 16px;
}

section#content.replies .add-reply{
    margin: 30px 0;
}

section#content.replies .add-reply .button{
    margin: 0;
}

section#content.replies .card{
    border: none;
}

section#content.replies .card.active{
    border: 2px solid #dfdfdf;
}

section#content.replies .card .card-header{
    min-height: 50px;
    background: #fdfdfd;
    text-align: right;
}

section#content.replies .card .card-header .button{
    padding: 0 30px;
}

section#content.replies .form-control.readonly{
    border-color: #f9f9f9;
    background: #fcfcfc;
}

section#content.replies textarea.form-control{
    min-height: 250px;
}

section#content.replies .card .card-footer{
    padding-bottom: 0;
    background: #fff;
    padding-left: 0;
}

/*EFFECTS: Shake
==================================*/
@-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(30px); }
    20% { -webkit-transform: translate(-30px); }
    40% { -webkit-transform: translate(15px); }
    60% { -webkit-transform: translate(-15px); }
    80% { -webkit-transform: translate(8px); }
    100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
    0% { -moz-transform: translate(30px); }
    20% { -moz-transform: translate(-30px); }
    40% { -moz-transform: translate(15px); }
    60% { -moz-transform: translate(-15px); }
    80% { -moz-transform: translate(8px); }
    100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
    0% { -o-transform: translate(30px); }
    20% { -o-transform: translate(-30px); }
    40% { -o-transform: translate(15px); }
    60% { -o-transform: translate(-15px); }
    80% { -o-transform: translate(8px); }
    100% { -o-origin-transform: translate(0px); }
}
@keyframes temporary {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.custom_shake {
    -webkit-animation: kf_shake 0.4s 1 linear;
    -moz-animation: kf_shake 0.4s 1 linear;
    -o-animation: kf_shake 0.4s 1 linear;
}


/*Global Notification
===================================*/

.floating-notification{
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0px;
    margin: 0;
}
.floating-notification .style-msg{
    border-radius: 3px;
    padding-right: 20px;
    margin: 10px;
    animation: temporary 10s 1 ease-in forwards;
}
.floating-notification .style-msg .sb-msg{
    border: 0;
    padding: 15px 25px;
}

.style-msg .close{
    top: 13px;
}

/*Input Tags
===================================*/
.form-group.readonly .bootstrap-tagsinput{
    border-color: #f9f9f9;
    background: #fcfcfc;
}
.form-group.readonly .bootstrap-tagsinput .badge{
    padding: 0 10px;
    border-radius: 3px;
    background: #eaeaea;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    color: #666;
    letter-spacing: normal;
}
.form-group.readonly .bootstrap-tagsinput .badge [data-role="remove"]{
    display: none;
}
.form-group.readonly .bootstrap-tagsinput input[type="text"]{
    display: none;
}

/*Keyword Suggestions
===================================*/
.keyword_suggestions a.keyword:not([href]):not([tabindex]):hover,
.keyword_suggestions a.keyword:hover{
    color: #FFFFFF;
}

/*Magnific Popup Form
=====================================*/
.mfp-content .popup{
    position: relative !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px 30px;
}


/*Payment Method List
=====================================*/
div.list-paymentmethod .list-group-item{
    border: 1px solid #eee;
}

.list-paymentmethod .cc-type{
    color: #999;
    font-size: 16px;
}

.list-paymentmethod .cc-type .icon{
    vertical-align: middle;
    margin-right: 5px;
    font-size: 34px;
    color: #333;
}

.list-paymentmethod .expiration{
    font-style: italic;
    color: #999;
}

.list-paymentmethod .list-group-item-action:hover,
.list-paymentmethod .list-group-item-action:active,
.list-paymentmethod .list-group-item-action:focus{
    background: inherit;
}

/*Invoice
====================================*/
#invoice_file .invoice_header h1.title{
    text-align: right;
}

#invoice_file .invoice_header p{
    margin-bottom: 0;
}

#invoice_file .invoice_info{
    border-top: 4px #ccc double;
    padding-top: 30px;
    margin-top: 30px;
}

#invoice_file .invoice_body{
    min-height: 175px;
}

#invoice_file .invoice_footer{
    padding: 1rem 1.25rem 0;
}