/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/*EMAIL ACCOUNTS
---------------------------------*/
section#content.emailaccounts .content-wrap{
    padding-top: 30px;
}

section#content.emailaccounts div.account{
    margin-top: 30px;
}

section#content.emailaccounts div.account h2 > a{
    color: #444444;
}

section#content.emailaccounts div.account h2 > a:hover{
    color: #1ABC9C;
}

section#content.emailaccounts .feature-box{
    padding: 0;
    margin-top: 0;
}

section#content.emailaccounts .feature-box .fbox-icon{
    position: relative;
    float: right;
}

section#content.emailaccounts div.account .card .card-body{
    min-height: 136px;
    position: relative;
}

section#content.emailaccounts div.account .card .card-title{
    margin-bottom: 0;
}

section#content.emailaccounts div.account .card span.numval{
    font-size: 36px;
}

section#content.emailaccounts div.account .card > a{
    color: #444444;
}

