.container.p-3
  .emailaccount
    %h1
      = @emailaccount.address
    .keywords
      - for reply in @emailaccount.replies
        .keyword
          %strong
            = reply.keywords
        = reply.body