
<div class="modal" id="AfterSignupWizard" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lets begin using Owlreply</h4>
        </button>
      </div>
      <div class="modal-body">
        <div id="processTabs">
          <ul class="process-steps bottommargin clearfix">
            <li class="active">
              <a class="i-circled i-bordered i-alt divcenter">1</a>
              <h5>Connect email account</h5>
            </li>
            <li>
              <a class="i-circled i-bordered i-alt divcenter">2</a>
              <h5>Check emails to reply</h5>
            </li>
          </ul>
          <div>
            <div id="process1">test 1</div>
            <div style="display: none;" id="process2">test 2</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-lg-left" data-dismiss="modal">Skip</button>
        <button type="button" class="btn btn-primary">Next</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#AfterSignupWizard').modal('show');
    });
</script>
