<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <div id="processTabs">
        <ul class="process-steps process-2 bottommargin clearfix">
          <li>
            <a href="javascript: void(0)" class="i-circled i-alt divcenter">1</a>
            <h5>Connect your account</h5>
          </li>
          <li class="active">
            <a href="javascript: void(0)" class="i-circled i-alt divcenter bgcolor">2</a>
            <h5>Confirm Messages</h5>
          </li>
        </ul>
      </div>
      <div>
        <div id="process2">

        </div>
      </div>
    </div>
  </div>
</section>