<section id="page-title">

  <div class="container clearfix">
    <h1>Admin Dashboard</h1>
  </div>

</section><!-- #page-title end -->

<section id="content" class="emailaccounts">
  <div class="content-wrap">
    <div class="container clearfix">

    </div>
  </div>
</section>