<section id="page-title">

  <div class="container clearfix">
    <h1>Admin Dashboard</h1>
  </div>

</section><!-- #page-title end -->

<section id="content" class="emailaccounts">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="card-deck custom_cards">
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Accounts</h5>
            <span class="numval">0</span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Email Accounts</h5>
            <span class="numval">0</span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Replies</h5>
            <span class="numval">0</span>
          </div>
        </div>

        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Draft Created Today</h5>
            <span class="numval">0</span>
          </div>
        </div>
    </div>
  </div>
</section>