<div class="section nomargin notoppadding">
  <div class="container clearfix">
    <div class="row">
      <div class="col-lg-1 col-sm-1"></div>
      <div class="col-lg-10 col-sm-10 bottommargin-sm">
        <div class="white-section custom-white-box">
          <h3 class="section-title nomargin">Payment Methods</h3>
          <div class="divider  divider-rounded divider-right notopmargin"><i class="icon-credit-card"></i></div>
          <div class="bottommargin-sm">
            <div class="list-group list-paymentmethod">
              <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h4 class="mb-2 cc-number">**** **** **** 1157</h4>
                  <small class="cc-default">Default</small>
                </div>
                <div class="cc-type">
                  <i class="icon icon-cc-visa"></i> Visa
                </div>
                <small class="expiration">Expires in 07/2020</small>
              </div>
            </div>
          </div>
          <div>
            <a class="edit-section" href="/users/5/edit">
              <i class="icon-edit2"></i> Manage
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-sm-1"></div>
    </div>
  </div>
</div>