<% content_for :javascript_includes do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<section id="page-title">

  <div class="container clearfix">
    <h1>Payment Methods</h1>
    <p>Manage your payment methods here.</p>
  </div>

</section><!-- #page-title end -->

<section id="content" class="paymentmethods">
  <div class="content-wrap pt-4">
    <div class="container clearfix">
      <div id="new_record" class="mb-4">
        <div class="button_container">
          <%= link_to raw('<i class="icon-plus-sign"></i><span>Add New Payment Method</span>'), new_paymentmethod_path, class: 'button button-rounded button-reveal button-small button-dirtygreen', remote: true %>
        </div>
      </div>

      <%= render partial: 'index' %>
    </div>
  </div>
</section>