<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Documentation</h1>
    <span>Learn everything about OwlReply</span>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <div class="col_full">
        Use OwlReply to automate your email responses.

        <ul>
          <li>Enter your email address.</li>
          <li>Connect to your email provider.</li>
          <li>Type up some keywords.</li>
          <li>Add the automated replies.</li>
        </ul>

        <div style="text-align: center;"><img src="https://owlreply.com/images/documentation1.png" style="max-width:400px;width:100%;"></div>

      </div>
    </div>

  </div>

</section><!-- #content end -->