<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Features</h1>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-heart i-alt"></i></a>
          </div>
          <h3>Be More Friendly<span class="subtitle">Write your email copy to really reflect the friendly, authentic brand that you have created.</span></h3>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-paper i-alt"></i></a>
          </div>
          <h3>Provide Clear Answer<span class="subtitle">Never leave out or skip over important details in your email replies again.</span></h3>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-layers i-alt"></i></a>
          </div>
          <h3>Layered Keywords<span class="subtitle">Respond to every possible question your customer may have.</span></h3>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-power i-alt"></i></a>
          </div>
          <h3>Always Running<span class="subtitle">OwlReply is always scanning your inbox for incoming emails..</span></h3>
        </div>
      </div>

      <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-check i-alt"></i></a>
          </div>
          <h3>Skip Proofreading<span class="subtitle">You no longer have to spend extra time proof reading your emails every day.</span></h3>
        </div>
      </div>

      <div class="col_one_third nobottommargin col_last">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-bulb i-alt"></i></a>
          </div>
          <h3>Answer Smartly<span class="subtitle">Save employee hours by greatly reducing work associated to replying to simple questions.</span></h3>
        </div>
      </div>

    </div>

    <div class="section">

      <div class="container clear-bottommargin clearfix">

        <div class="heading-block center">
          <h2>Features List.</h2>
          <span>Owlreply provide a wide array of Usable &amp; Flexible Features</span>
        </div>

        <div class="row">

          <div class="col-lg-4 bottommargin">
            <img data-animate="fadeInLeftBig" src="images/services/iphone.png" alt="iPhone" class="center-block">
          </div>

          <div class="col-lg-4 col-md-6 topmargin bottommargin">

            <div class="col_full">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-monitor"></i></a>
                </div>
                <h3>Responsive Layout</h3>
                <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view the changes.</p>
              </div>

            </div>

            <div class="col_full">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-eye"></i></a>
                </div>
                <h3>Retina Ready Graphics</h3>
                <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
              </div>

            </div>

            <div class="col_full nobottommargin">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-power"></i></a>
                </div>
                <h3>Powerful Performance</h3>
                <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
              </div>

            </div>

          </div>

          <div class="col-lg-4 col-md-6 topmargin bottommargin">

            <div class="col_full">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-layers"></i></a>
                </div>
                <h3>Premium Sliders Included</h3>
                <p>Canvas included 20+ custom designed Slider Pages with Premium Sliders like Layer, Revolution, Swiper &amp; others.</p>
              </div>

            </div>

            <div class="col_full">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-star"></i></a>
                </div>
                <h3>Unlimited Color Options</h3>
                <p>Change the Color Scheme of the Theme in a flash just by changing the 6-digit HEX code provided in the colors.php file.</p>
              </div>

            </div>

            <div class="col_full nobottommargin">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-anchor"></i></a>
                </div>
                <h3>CUSTOMIZABLE FONTS</h3>
                <p>Use any Font you like from Google Web Fonts, Typekit or other Web Fonts. They will blend in perfectly.</p>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->