<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Features</h1>
    <span>Stop worrying about your inbox filling up, and start helping customers.</span>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-heart i-alt"></i></a>
          </div>
          <h3>Be More Friendly<span class="subtitle">Write your email copy to reflect that friendly, authentic brand that you have created.</span></h3>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-paper i-alt"></i></a>
          </div>
          <h3>Provide Clear Answers<span class="subtitle">Never again leave out or skip over important details in your email replies.</span></h3>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-layers i-alt"></i></a>
          </div>
          <h3>Layered Keywords<span class="subtitle">Respond to every possible question that your customer may have.</span></h3>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-power i-alt"></i></a>
          </div>
          <h3>Always Running<span class="subtitle">OwlReply is always scanning your inbox for incoming email messages.</span></h3>
        </div>
      </div>

      <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-check i-alt"></i></a>
          </div>
          <h3>Skip Proofreading<span class="subtitle">You no longer have to spend extra time proof reading your emails every day.</span></h3>
        </div>
      </div>

      <div class="col_one_third nobottommargin col_last">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="icon-bulb i-alt"></i></a>
          </div>
          <h3>Answer Smartly<span class="subtitle">Save employee hours by reducing work spent replying to simple questions.</span></h3>
        </div>
      </div>

    </div>

    <div class="section">

      <div class="container clear-bottommargin clearfix">

        <div class="heading-block center">
          <h2>Features List.</h2>
          <span>Owlreply makes your life simpler.</span>
        </div>

        <div class="row">

          <div class="col-lg-4 bottommargin">
            <img data-animate="fadeInLeftBig" src="https://s3.amazonaws.com/a.nime.me/0158/5072/email.png" alt="iPhone" class="center-block">
          </div>

          <div class="col-lg-4 col-md-6 topmargin bottommargin">

            <div class="col_full">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-monitor"></i></a>
                </div>
                <h3>Great interface.</h3>
                <p>Add your email accounts and your email replies easily.</p>
              </div>

            </div>

            <div class="col_full">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-eye"></i></a>
                </div>
                <h3>Preview email replies.</h3>
                <p>Get an idea of what your replies will look like to customers.</p>
              </div>

            </div>

            <div class="col_full nobottommargin">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-power"></i></a>
                </div>
                <h3>Powerful Performance</h3>
                <p>Your replies are completely customizable and deliver unmatched fast performance.</p>
              </div>

            </div>

          </div>

          <div class="col-lg-4 col-md-6 topmargin bottommargin">

            <div class="col_full">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-layers"></i></a>
                </div>
                <h3>Many Replies</h3>
                <p>Many replies can be added to the same email content.</p>
              </div>

            </div>

            <div class="col_full">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-star"></i></a>
                </div>
                <h3>Unlimited Keywords</h3>
                <p>Add however many keywords you need.</p>
              </div>

            </div>

            <div class="col_full nobottommargin">

              <div class="feature-box fbox-plain fbox-small fbox-dark">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-line-anchor"></i></a>
                </div>
                <h3>Fantastic Support</h3>
                <p>Reach out to your support team whenever you need us.</p>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->