<!-- Page Title
		============================================= -->
<section id="page-title" class="nobg">

  <div class="container clearfix">
    <h1>Forgot Your Password?</h1>
    <span>Please provide your account email address. We will send you an email that will allow you to reset your password.</span>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap nopadding">

    <div class="section nomargin">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="white-section custom-white-box divcenter" style="max-width: 550px;">
              <div class="form-group">
                <form action="" class="nobottommargin">
                  <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" name="user[email_address]"  class="form-control" />
                  </div>
                  <div class="form-group nobottommargin">
                    <button type="submit" class="button button-rounded3">Send verification email</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>

  </div>

</section><!-- #content end -->
