<!-- Page Title
		============================================= -->
<section id="page-title" class="nobg">

  <div class="container clearfix">
    <h1>Forgot Your Password?</h1>
    <span>Please provide your account email address. We will send you an email that will allow you to reset your password.</span>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap nopadding">

    <div class="section nomargin">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="white-section custom-white-box divcenter" style="max-width: 550px;">
              <%= form_with(html: {id: 'forgot_password_request', class: 'nobottommargin', name: 'forgot-password-request'}, url: password_forgot_path) do %>
                <div id="forgot_password_msg" class="style-msg" style="display: none"></div>
                <div class="form-group">
                  <label></label>
                  <input type="text" name="user[email_address]"  class="form-control" />
                </div>
                <div class="form-group nobottommargin">
                  <button type="submit" class="button button-rounded noleftmargin">Send verification email</button>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>

  </div>

</section><!-- #content end -->
