<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Pricing</h1>
    <span>Choose your plan and get started on providing amazing customer service.</span>
    <!--<ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Pages</a></li>
      <li class="breadcrumb-item active" aria-current="page">Services</li>
    </ol>-->
  </div>

</section><!-- #page-title end -->

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="heading-block center">
        <span style="font-size: 22px">We support everyone from small-businesses to Enterprise.</span>
      </div>

      <div class="row pricing bottommargin clearfix">

        <div class="col-lg-4">

          <div class="pricing-box">
            <div class="pricing-title">
              <h3>Entrepreneur</h3>
            </div>
            <div class="pricing-price">
              <!--<span class="price-unit">USD</span>-->Free<!--<span class="price-tenure">/mo</span>-->
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Automated</strong> replies</li>
                <li>Improve your customer service</li>
                <li><strong>100</strong> drafts per day</li>
                <li><strong>30</strong> keyword sets</li>
                <li>Basic keyword suggestions</li>
                <!--<li>Email Support</li>-->
              </ul>
            </div>
            <div class="pricing-action">
              <% if current_user && false && (current_user.subscription_id != Subscription.find_by(name: "Entrepreneur").id) %>
                <a href="/plans" class="btn btn-danger btn-block btn-lg" data-remote="true" data-method="update">Choose Plan</a>
              <% else %>
                <a href="/signup" class="btn btn-danger btn-block btn-lg">Sign Up</a>
              <% end %>
            </div>
          </div>

        </div>

        <div class="col-lg-4">

          <div class="pricing-box best-price">
            <div class="pricing-title">
              <h3>Small Business</h3>
              <span>Most Popular</span>
            </div>
            <div class="pricing-price">
              <span class="price-unit">USD</span>12<span class="price-tenure">/mo</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Unlimited</strong> keyword sets</li>
                <li>Improve your customer service</li>
                <li><strong>1,000</strong> drafts per day</li>
                <li><strong>Faster</strong> draft creation</li>
                <li>AI enhanced keyword suggestions</li>
                <!--<li><strong>2 Years</strong> License</li>-->
                <!--<li>Phone &amp; Email Support</li>-->
              </ul>
            </div>
            <div class="pricing-action">
              <% if current_user && false && (current_user.subscription_id != Subscription.find_by(name: "Small Business").id) %>
                <a href="/plans" class="btn btn-danger btn-block btn-lg bgcolor border-color" data-remote="true" data-method="update">Choose Plan</a>
              <% else %>
                <a href="/signup" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
              <% end %>
            </div>
          </div>

        </div>

        <div class="col-lg-4">

          <div class="pricing-box">
            <div class="pricing-title">
              <h3>Big Business</h3>
            </div>
            <div class="pricing-price">
              <span class="price-unit">USD</span>16<span class="price-tenure">/mo</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Unlimited</strong> keyword sets</li>
                <li>Improve your customer service</li>
                <li><strong>Unlimited</strong> replies daily</li>
                <li><strong>Fastest</strong> draft creation</li>
                <li>AI enhanced keyword suggestions</li>
                <li>Automated reply content suggestion</li>
                <!--<li><strong>3 Years</strong> License</li>
                <li>Phone &amp; Email Support</li>-->
              </ul>
            </div>
            <div class="pricing-action">
              <% if current_user && false && (current_user.subscription_id != Subscription.find_by(name: "Big Business").id) %>
                <a href="/plans" class="btn btn-danger btn-block btn-lg" data-remote="true" data-method="update">Choose Plan</a>
              <% else %>
                <a href="/signup" class="btn btn-danger btn-block btn-lg">Sign Up</a>
              <% end %>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->