<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Privacy Policy</h1>
    <span></span>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
      ============================================= -->
      <div class="postcontent nobottommargin clearfix">
        <div id="privacy-policy" class="privacy-policy">



        </div>
      </div><!-- .postcontent end -->

    </div>

  </div>

</section><!-- #content end -->
