<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Privacy Policy</h1>
    <span></span>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
      ============================================= -->
      <div class="postcontent nobottommargin clearfix">
        <div id="privacy-policy" class="privacy-policy">

          <div class="post col_full">

            <h1>OwlReply's Privacy Policy</h1>

            <p>When you use our services, you provide us with your information and data. This privacy policy is designed to help you understand how we use this information, what information we collect, and why we use this information. OwlReply recognizes that privacy is important and we hope this policy will provide clarity on use of this information and data.</p>

            <p>There are multiple ways to access our services, including but not limited to using a web browser, using a mobile app, using a mobile web browser, using a third-party affiliated website, or using our APIs either directly or via a third-party's use of our APIs. This policy covers all information collected in these manners, or in any other manners.</p>

            <h2>Scope of Policy</h2>
            <p>This policy applies to all websites and services operated and/or offered by OwlReply ("Services"), including third-party websites. This could also include services that we host, create, or manage for third parties that use or collect your information in tangent with our services, or services we provide to third parties that use or collect your information in tangent with our services. Any time you access any service we provide, your access is governed by this policy. If a particular product has additional privacy practices, you will find those along with that product.</p>

            <p>All use of our websites and related services require your affirmative consent to this privacy policy and our data collection practices, including your consent to our use of your data for our business purposes. Without your consent, these services and websites can not be offered, and you may not access or utilize these services.</p>

            <h2>Information We Collect</h2>
            <p>When you use our services we collect a variety of information of all kinds. This can include information that is personal and can uniquely identify you. Some of this personal information we may collect includes, but is not limited to, the following.</p>
            <ul class="list-inline">
              <li>Your email address</li>
              <li>Keywords to search from your mail</li>
              <li>Your IMAP information</li>
              <li>And other similar information not described here.</li>
            </ul>

            <p>We may use this information to provide our services to you. We may use that information in ways including, but not limited to, the following:</p>

            <ul>
              <li>Creating an automated reply for your email account.</li>
              <li>Scanning your inbox for incoming email messages.</li>
              <li>And other similar uses not described here.</li>
            </ul>

            <p>Additionally, we retain and store information that you upload directly to the services. For example, but not limited to:</p>

            <ul>
              <li>Tokens from our trusted third party service.</li>
              <li>The template created for an automated reply</li>
              <li>Tokens related to your credit card, but not the actual card number</li>
            </ul>
            <p>Sometimes we may collect this information specifically, on you as an individual or user of our service, or we may aggregate and/or collate this data. We may also collect data and make calculations based on that data to figure out things about you, such as what your preferences are.</p>
            <p>Information is collected through many methods. If you provide us information by filling out a form, that information is of course collected. When you access our services, our servers automatically collect information about the connection you used, the data you accessed, and/or the interaction you had with our service. We record information about any transactions you make with us. Sometimes when you access our services through a third-party, they provide us with information. We may also collect information from third parties when verifying information you provide, such as (but not limited to) checking your IP address against spam blacklists.</p>
            <p>The information we collect can be either very broad in scope, such as information about what types of browsers are used most commonly by our users, or it can be very specific in scope such as what is your favorite genre of Television or where you live.</p>
            <h2>Our products and services.</h2>
            <p>We operate many platforms, providing services to thousands of people across different websites and services. Our services include, but are not limited to:</p>
            <ul>
              <li>Creating an automated draft replies.</li>
              <li>Improve your customer service.</li>
              <li>Scanning the keywords that you set from an inbox of your email accounts.</li>
              <li>Helps from our support team.</li>
              <li>Our apps, sites, and services</li>
              <li>Services that are integrated into third-party sites, like google authentication</li>
            </ul>
            <p>When you use our services, sometimes the collection of information is natural and obvious. For example, when you must type in your name to buy a ticket for an event. In other cases, information collection, such as collection of your IP address or approximation of your location, may be automatic and not immediately visible to you. This information is still collected and used to provide our products and services.</p>
            <h2>Uses</h2>
            <p>We may use the information gathered in a number of ways. These include rendering and displaying the webpages you request, providing you with a particular service, improving our services, maintaining our services and our security, research, analysis, auditing, complying with legal requirements, presenting advertisements, and more.</p>
            <p>We may use the information we gather to improve our services or present our services to you. This may include identifying specific information in your account and analyzing it in the provision of service to you or to others. We could, for example, learn or compute that you like a specific TV show, and present it to you to watch (or present a related ad to you). We may use your information in the aid of recognizing patterns in the use of our services.</p>
            <p>We may use information gathered to contact you and inform you about our services, such as letting you know via email or text message about future improvements or changes. We could mail you postcards promoting something, or use your information to market to you. We may also have partners and affiliates that we work closely with and do these things.</p>
            <p>We may use the information you provide in your public profile across our services. For example, you may be able to choose a username, upload photos, write a biography, list your favorite things, or more using our services, and this information will be public.</p>
            <p>Our systems and administrators may analyze your preferences, content, posts, and messages to provide you with information and experiences directly relevant to you, including tailored search, advertising, or even spam/malware detection. We may use it in the course of researching how we might improve our services, how we might improve our security, or how we might better market our services.</p>
            <p>Sometimes we are only the host, developer, or manager of a web platform or service. In such cases, the owning entity may own and utilize your data. In many cases, their use will be subject to the same policy, but we are under no obligation to regulate the privacy practices of these other entities, and you understand that their use may be different.</p>
            <p>We may use or share this information with third-parties for processing, based on our instructions. We may share information with outside companies, organizations, or individuals if we have a good-faith belief that it would be required to meet applicable laws, regulations, or subpoenas, in the course of enforcing our terms of service or protecting others, in the course of protecting harm to us, in the course of detecting or preventing fraud or security issues, or in compliance with a subpoena.</p>
            <p>Non-personal information could be shared publicly, such as with our partners and advertisers, for example to show trends about the general use of our services.</p>
            <h2>Third Parties</h2>
            <p>Third parties may have their own privacy policies which may also affect the handling of information. Example third parties include, but are not limited to:</p>
            <ul>
              <li>Email IMAP authentication services such as Google authentication.</li>
              <li>Backend service providers, upon which our server infrastructure is built.</li>
              <li>Service providers we use in business, such as email providers or physical mail companies.</li>
            </ul>
            <h2>No Warranty</h2>
            <p>These services are provided with NO WARRANTY, neither expressed nor implied. These services, especially those which are provided to you for free or supported by ads only, are provided in the hope that they will be useful, but without any warranty. They are provided "as is" without warranty of any kind, including but not limited to the implied warranties of merchantability and fitness for a particular purpose. The entire risk to the quality and performance of the services is with you. In no event unless required by applicable law will we be liable for damages, including any general, special, incidental, or consequential damages arising out of the use or inability to use the services (including but not limited to loss of data) even if we have been advised of the possibility of such damages. For items purchased or paid for, such as event tickets, subscriptions, or other paid purchases, we do plan and represent our intention to provide you with products and services reasonably close to what we have lead you to expect, and our liability is limited to at most the amount you paid for these products and services.</p>
            <h2>Data Protection</h2>
            <p>We do not sell, rent, or give away your personal information in bulk to third parties. We are not in the business of collecting your information to be sold to others. However, if you provide us information in partnership with a third party, we can use your information in tangent with them. (Such as if you purchase something from a third party, that third party can utilize any information we obtain.) We use your data in the course of doing the business and services we provide. We may allow our partners to use personal information when related to or required to provide you with a particular service you request. We typically process information on well protected servers in the United States of America, however we may process data elsewhere, including countries where you do not reside.</p>
          </div>

        </div>
      </div><!-- .postcontent end -->

    </div>

  </div>

</section><!-- #content end -->
