<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Security</h1>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <div class="col_full">
        <p>Owl Reply is backed by world leading security and encryption.</p>
        <p>OwlReply uses secure TLS 3 SSL connections and up to date security certificates.</p>
      </div>
    </div>

  </div>

</section><!-- #content end -->