<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Terms of Use</h1>
    <span></span>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
      ============================================= -->
      <div id="terms" class="terms nobottommargin clearfix col_full">
        <div class="main">
          <h1>OwlReply's Terms of Use</h1>

          <p>These terms of service, along with our <a href="/privacy-policy">privacy policy</a>, govern your usage of this website. These terms, and the related privacy policy, are together a contract formed between you and OwlReply.</p>
          <p>YOU means both you as an individual, and you as a representative of any company or organization that you are using OwlReply's services for. As a condition of using the service, you agree to bind yourself and these companies or organizations to these terms of service&gt; You agree that you have the power to do so.</p>


          <h3>No Warranty</h3>
          <p>These services are provided with NO WARRANTY, neither expressed nor implied. These services, especially those which are provided to you for free or supported by ads only, are provided in the hope that they will be useful, but without any warranty. They are provided “as is” without warranty of any kind, including but not limited to the implied warranties of merchantability and fitness for a particular purpose. The entire risk to the quality and performance of the services is with you. In no event unless required by applicable law will we be liable for damages, including any general, special, incidental, or consequential damages arising out of the use or inability to use the services (including but not limited to loss of data) even if we have been advised of the possibility of such damages. For items purchased or paid for, such as event tickets, subscriptions, or other paid purchases, we do plan and represent our intention to provide you with products and services reasonably close to what we have lead you to expect, and our liability is limited to at most the amount you paid for these products and services.</p>

        </div>
      </div>

    </div>

  </div>

</section><!-- #content end -->
