<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>The change you wanted was rejected</h1>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_half nobottommargin">
        <div class="error404 center">422</div>
      </div>

      <div class="col_half nobottommargin col_last">

        <div class="heading-block nobottomborder">
          <h4>Oops! The change you wanted was rejected.</h4>
          <p>Maybe you tried to change something you didn't have access to.</p>
          <p>If you are the application owner check the logs for more information.</p>
        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->