<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<style media="all" type="text/css">
  td {font-family:Verdana, Geneva, sans-serif;}
  #thebody { text-align: center; }
  table { margin: 0px auto 20px auto; border: 1px solid #CCC; text-align: left; }
  h1,.footer { text-align: center; }
</style>
<title>OwlReply Email</title>
<body style="color: #000000; font-family: arial, helvetica, sans-serif; background: #f7f7f7;">
<div id="thebody" style="font-family: arial, helvetica, sans-serif; background: #f7f7f7;padding:20px;">

  <table style="margin: 0px auto;border: 1px solid #CCC;text-align:left;">
    <tr><td width="540" bgcolor="#FFFFFF" style="padding: 10px;max-width:100%;text-align:center;">
      <img src="https://www.owlreply.com/images/logo/logo.png">
    </td></tr>
    <tr><td width="540" bgcolor="#FFFFFF" style="padding: 10px;max-width:100%;">
      <p>Hi,</p>
      <p>We've received a request to reset your password.</p>
      <p>If you didn’t make the request, just ignore this message. Otherwise, you can reset your password using this link: <br />
        <a href="<%= @token_url %>" style="font-family:Helvetica,Arial,sans-serif;font-weight:700;margin:0px;text-align:left;line-height:1.3;color:#FFFFFF;text-decoration:none;background-color:#1ABC9C;border-radius:4px;display:inline-block;padding:12px 24px 12px 24px;font-size:14px;">
          Click here to reset your password
        </a>
      </p>
      <p>
        To login to the site, just follow this link: <a href="<%= @url %>/login"><%= @url %>/login</a>.
      </p>
      <p>Note: Please don't reply to this email. If you have any concerns please send it to ceo@owlreply.com.</p>
      <br />
      <p>Thanks, <br />
        OwlReply Team
      </p>
    </td></tr></table>
</div>
</body>
</html>