<div class="form-wrapper">
  <%= form_with model: (emailaccount || emailaccount = Emailaccount.new), html:{class: 'nobottommargin'} do |form| %>
    <% if emailaccount.errors.any? %>
      <div class="style-msg2 errormsg">
        <div class="msgtitle">Oops! There's an error upon submitting.</div>
        <div class="sb-msg">
          <ul>
            <% for message in emailaccount.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="form-row">
      <div class="form-group col-md-4">
        <%= form.text_field :address, class: 'form-control required', id: 'address', required: 'required', placeholder: "Email Address" %>
      </div>
      <div class="form-group col-md-12">
        <textarea name="emailaccount[template]" id="template" class="form-control required" required="required" placeholder="Put Your Email Template Here...">Hi,

Thank you for emailing our company. We are happy to hear from you, and I'm happy to be here to help.

%%reply%%

Thank you for reaching out.

Sincerely,

Customer Service
info@company.com</textarea>
        <small class="form-text text-muted">
          use  <strong>%%reply%%</strong>  short tag to insert the content of the reply
        </small>
      </div>

    </div>

    <div class="actions col_full nobottommargin">
      <%= form.submit emailaccount.new_record? ? 'Add New' : 'Save', class: 'button button-small nomargin' %>
      <button class="button-cancel button button-white button-light button-small" type="reset">Cancel</button>
    </div>
  <% end %>
</div>

