<div class="style-msg style-msg-light" style="background-color: #333;">
  <div class="sb-msg">
    <%= link_to 'See your emails.', "/wizard/2/#{@emailaccount.id}", class: 'btn-connect button button-3d button-mini button-rounded button-white button-light' %>
    Use this tool to start building your automated replies.
  </div>
</div>