<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 authentication">
    <div class="style-msg style-msg-light" style="background-color: #333;">
      <div class="sb-msg">
        <%= link_to 'See your emails.', '#', class: 'btn-connect button button-3d button-mini button-rounded button-white button-light', remote: true %>
        Use this tool to start building your automated replies.
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>