<section id="page-title">

  <div class="container clearfix">
    <h1>Email Accounts</h1>
    <p>Add your email accounts here.</p>
  </div>

</section><!-- #page-title end -->

<section id="content" class="emailaccounts">
  <div class="content-wrap">
    <div class="container clearfix">
      <div id="new_record">
        <div class="button_container">
          <%= link_to raw('<i class="icon-plus-sign"></i><span>Add New Email Account</span>'), new_emailaccount_path, class: "button button-rounded button-reveal button-small button-dirtygreen", id: "addnew_account", remote: true %>
        </div>
        <div class="record-form" style="display: none">
        </div>
      </div>
      <% if notice %>
        <div class="notification-wrapper">
          <div class="style-msg successmsg">
            <div class="sb-msg"><%=notice%></div>
          </div>
        </div>
      <% end %>
      <div class="accounts">
        <% @emailaccounts.each do |emailaccount| %>
          <%= render emailaccount %>
        <% end %>
      </div>
    </div>
  </div>
</section>
