<section id="page-title" class="replies nobg">

  <div class="container clearfix">
    <h1><%= @emailaccount.address %> <%= link_to raw('Edit<i class="icon icon-pencil"></i>'), edit_emailaccount_path(@emailaccount), class: 'edit' %></h1>
    <div class="breadcrumb">
      <%= link_to 'All Accounts', emailaccounts_path %>
    </div>
  </div>

</section>

<section id="content">

  <div class="content-wrap nopadding">
    <div class="section nomargin">
      <div class="container clearfix">
        <%= render file: "replies/index" %>
      </div>
    </div>
  </div>

</section>
