Your email account <%= @emailaccount.address %> is still not connected.<br>
<br>
OwlReply needs to be able to check your incoming emails to create automated responses for you.<br>
<br>
<a href="<%= Rails.application.config.base_url %>/emailaccounts/<%= @emailaccount.id %>">Click here to connect.</a><br>
<br>
